<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XyyhManageSystem.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B6E64621E8A3E6600721034</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B6E647B1E8A3E6700721034</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B6E64861E8A3E6700721034</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
